.header-conteiner {
	width: 100%;
	background-color: #fbae3c;
	box-shadow: 1px 13px 6px -10px rgba(0, 0, 0, 0.64);
	-webkit-box-shadow: 1px 13px 6px -10px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: 1px 13px 6px -10px rgba(0, 0, 0, 0.64);
	margin-bottom: 20px;
	padding: 10px;
}

.header-img {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
}
.header-pokemon {
	width: 100%;
	max-width: 500px;
	height: auto;
	animation: mover alternate-reverse 2s;
	-webkit-animation: mover alternate-reverse 2s;
}
.header-pokebol {
	width: 100%;
	max-width: 100px;
	height: auto;
	animation: rotate alternate 2s infinite;
	-webkit-animation: rotate alternate 2s infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}

@keyframes mover {
	to {
		transform: translate(100%, 0%);
		-webkit-transform: translate(100%, 0%);
		-moz-transform: translate(100%, 0%);
		-ms-transform: translate(100%, 0%);
		-o-transform: translate(100%, 0%);
	}
}
